<%- if devise_mapping.omniauthable? %>
  <div class="box">
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with your #{OmniAuth::Utils.camelize(provider).sub('Oauth2','')} account",
      omniauth_authorize_path(resource_name, provider),
      class: 'button button-add' %><br />
  <% end -%>
</div>
<% end -%>
