<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi <%= @email %></h3>
    <p>
      Attached are the results of your recent observations.
    </p>
  </body>
</html>
