$base: #2C8682;
$base-dark: darken($base, 10);
$base-light: lighten($base, 30);

$alternate: #fc9834;
$alternate-dark: darken($alternate, 70);
$alternate-light: lighten($alternate, 30);

$dark: #222;
$neutral: #ddd;
$darkened: rgba(0, 0, 0, 0.4);
$light: #fff;
$lightened: rgba(255, 255, 255, 0.5);

@mixin gradient($from-color, $to-color) {
    background-color: mix($from-color, $to-color); /* Fallback */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from-color), to($to-color));
    background-image: -webkit-linear-gradient(top, $from-color, $to-color);
    background-image:    -moz-linear-gradient(top, $from-color, $to-color);
    background-image:     -ms-linear-gradient(top, $from-color, $to-color);
    background-image:      -o-linear-gradient(top, $from-color, $to-color);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$from-color}', EndColorStr='#{$to-color}')";
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

.in-process {
  background-size: 30px 30px;
  background-image: linear-gradient(
    45deg,
    rgba(black, 0.1)  25%,
    transparent       25%,
    transparent       50%,
    rgba(black, 0.1)  50%,
    rgba(black, 0.1)  75%,
    transparent       75%,
    transparent
  );
}

html, body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  background-color: $dark;
  color: $base-light;
  margin: 0;
  padding: 0;
}

.context-marker {
  background-color: $neutral;
  color: $darkened;
  font-size: 0.7em;
  margin: 0;
  padding: 0.1em 0.2em;
}

.box {
  background-color: $base-light;
  color: $dark;
  margin-bottom: 0.5em;
}

.box-event {
  background-color: $alternate-light;
  border-top: 1px solid $alternate;
}

.box-state {
  background-color: $base-light;
  border-top: 1px solid $base;
}

.control-group {
  padding: 0.2em 0.5em;
  background-color: $lightened;
}

.option {
  border: 1px solid $light;
  @include border-radius(3px);
  display: inline-block;
  margin: 0.2em 0.4em;
  padding-right: 0.4em;
  background: $darkened;
  color: $light;
}

.list-control {
  border-bottom: 1px solid $neutral;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0 0.3em 0.5em;
}

.button {
  display: inline-block;
  padding: 0.2em 0.6em;
  border: 1px solid $base-dark;
  border-radius: 3px;
  text-decoration: none;
}

.button-add {
  @include gradient($base, $base-dark);
  color: white;
}

.button-remove {
  color: $dark;
  background-color: red;
  border-radius: 0px;
}

.destructive {
  float: right;
  clear: right;
}

.field {
  margin: 0.3em;
}

.field_entry {
  width: 97%;
}

fieldset {
  background-color: $lightened;
  border: none;
  margin: 0 0 1em;
  padding: 0 0 1em;
}

legend {
  background-color: $base-light;
  color: $light;
  margin: 0 0 0.5em;
  padding: 0.2em 0.5em 0.2em 0.2em;
  text-align: left;
}

.actions {
  background-color: $darkened;
  padding: 0.7em;
  text-align: right;
}

@media (min-width: 40em) {
  .box {
    margin: 1em;
  }
}
